<!-- Secondary navigation -->
<nav class="flex justify-between overflow-x-auto bg-gray-700/10 py-5 border border-slate-100/5 px-4 sm:px-6 lg:px-8">
    <ul role="list" class="list-none flex flex-none gap-x-6 text-sm font-semibold leading-6 text-gray-400">
        <li>
            <%= nav_link_to campaign_sources_path(@campaign), inactive_class: "border-transparent text-gray-600 dark:text-gray-300 hover:border-neutral-300 hover:text-indigo-500 dark:hover:text-neutral-300", active_class: '-mb-px transition text-indigo-500 dark:text-indigo-400 focus:text-indigo-400' do %>
                All sources
            <% end %>
        </li>
        <li>
            <%= nav_link_to campaign_source_filters_path(@campaign), inactive_class: "border-transparent text-gray-600 dark:text-gray-300 hover:border-neutral-300 hover:text-indigo-500 dark:hover:text-neutral-300", active_class: '-mb-px transition text-indigo-500 dark:text-indigo-400 focus:text-indigo-400' do %>
                Filters
            <% end %>    
        </li>
    </ul>

    <div class="flex">
        <div class="mt-3 sm:ml-4 sm:mt-0">
            <label for="mobile-search-candidate" class="sr-only">Search</label>
            <label for="desktop-search-candidate" class="sr-only">Search</label>
            <div class="flex rounded-md shadow-sm">
            <div class="relative flex-grow focus-within:z-10">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                </svg>
                </div>
                <%= form_with(url: campaign_source_filters_path(@campaign), method: :get, local: true) do |f| %>
                    <%= f.text_field :query, placeholder: "Search filters", class: "pl-10 w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
                  <% end %>
            </div>
            
            </div>
        </div>
        <div class="mt-4 lg:ml-6 lg:mt-0">
        <%= link_to "New filter", new_campaign_source_filter_path(@campaign), { data: {turbo_frame: "modal"}, class: "btn btn-small btn-primary"} %>
        </div>
    </div>
</nav>