<%= form_with(model: vertical, class: "space-y-4") do |form| %>
  <% if vertical.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vertical.errors.count, "error") %> prohibited this vertical from being saved:</h2>

      <ul>
        <% vertical.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: true, autofocus: true, class: "form-control" %>
  </div>

  <div id="fields" class="">
    <%= render partial: "field", collection: @vertical.fields %>
  </div>

  <div class="mb-2">
      <%= link_to field_verticals_path, data: { turbo_stream: true } do %>
        <%= button_tag(type: 'button', class: "rounded-full bg-indigo-600 p-2 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") do %>
            <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
            </svg>
        <% end %>
      <% end %>
  </div>

 
  <div class="mt-6 flex items-center justify-end gap-x-6">
    <%= link_to t("back"), verticals_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
    <% if form.object.persisted? %>
      <%= form.submit "Update Vertical", class: "rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <% else %>
      <%= form.submit "Create Vertical", class: "rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <% end %>
  </div>
<% end %>
