<%= render 'header', vertical: @vertical %>

<main class="flex-1 overflow-y-auto">
  <!-- Primary column -->
  <section aria-labelledby="primary-heading" class="flex h-full min-w-0 flex-1 flex-col lg:order-last">

    <div class="mt-6">
      
      <div class="overflow-hidden bg-white shadow sm:rounded-lg">
          <div class="flex-1 overflow-y-auto pt-8">
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">

              <!-- Stacked list -->
              <table class="min-w-full divide-y divide-gray-300">
                  <thead>
                    <tr>
                      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Label</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Data Type</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Ping Required</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Post Required</th>
                    </tr>
                  </thead>
                  <tbody class="bg-white">
                    <% @vertical.fields.each do |field| %>
                    <!-- Odd row -->
                      <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"><%= field.label %></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= field.name %></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= field.data_type %></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= field.ping_required %></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= field.post_required %></td>
                      </tr>
                    <% end %>

                    <!-- More people... -->
                  </tbody>
                </table>
            </div>
          </div>

      
      </div>
    </div>
  </section>

</main>