 <div class="bg-slate-900 rounded-lg shadow py-4">
    <%= modal(header: true, padding: true, title: "Distribution quick view") do |m| %>
      <!-- Secondary navigation -->
        
      <div class="pb-6" data-controller="tabs" data-tabs-active-tab-class="-mb-px transition text-indigo-400 focus:text-indigo-400" data-tabs-inactive-tab-class="border-transparent text-neutral-300 hover:border-neutral-300 hover:text-white dark:hover:text-neutral-100">
        <header>
          
          <div class="min-w-0 px-4 pb-4 sm:px-6 lg:px-8">
            <div class="flex items-start gap-x-3 text-white text-sm font-semibold leading-6">
              <span class="truncate"><%= @distribution.company.name %></span>
              <span class="text-gray-400">/</span>
              <span class="whitespace-nowrap"><%= @distribution.endpoint %></span>
              <span class="inline-flex items-center gap-x-1.5 rounded-md px-2 py-1 text-xs font-medium text-white ring-1 ring-inset ring-gray-800">
                <svg class="h-1.5 w-1.5 <%= @distribution.active? ? 'fill-green-400' : 'fill-yellow-400' %>" viewBox="0 0 6 6" aria-hidden="true">
                    <circle cx="3" cy="3" r="3" />
                </svg>
                <%= @distribution.status %>
              </span>
            </div>
            <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-300">
              <p class="whitespace-nowrap">Added <%= @distribution.created_at.strftime("%b %d, %Y") %></p>
              <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                <circle cx="1" cy="1" r="1" />
              </svg>
              <p class="truncate"><strong>Last API Request: </strong><%= @distribution.last_api_request_time ? time_ago_in_words(@distribution.last_api_request_time) + 'ago' : 'No activity yet' %></p>
            </div>
          </div>

        </header>

        <nav class="flex pl-8 pb-4">
          <ul role="list" class="list-none flex min-w-full flex-none gap-x-6 text-sm font-semibold leading-6 text-gray-300">
            <li>
              <a href="#" data-tabs-target="tab" data-action="click->tabs#change:prevent">Overview</a>
            </li>
            <li>
              <a href="#" data-tabs-target="tab" data-action="click->tabs#change:prevent">Settings</a>
            </li>
          </ul>
        </nav>

        <div data-tabs-target="panel">
          <!-- Stats -->
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
            <div class="border-t border-white/10 py-6 px-4 sm:px-6 lg:px-8">
              <p class="text-sm font-medium leading-6 text-gray-400">Requests</p>
              <p class="mt-2 flex items-baseline gap-x-2">
                <span class="text-4xl font-semibold tracking-tight text-white">405</span>
              </p>
            </div>
            <div class="border-t border-white/10 py-6 px-4 sm:px-6 lg:px-8 sm:border-l">
              <p class="text-sm font-medium leading-6 text-gray-400">Average profit</p>
              <p class="mt-2 flex items-baseline gap-x-2">
                <span class="text-4xl font-semibold tracking-tight text-white">$3.65</span>
              </p>
            </div>
            <div class="border-t border-white/10 py-6 px-4 sm:px-6 lg:px-8 lg:border-l">
              <p class="text-sm font-medium leading-6 text-gray-400">Return rate</p>
              <p class="mt-2 flex items-baseline gap-x-2">
                <span class="text-4xl font-semibold tracking-tight text-white">11%</span>
              </p>
            </div>
            <div class="border-t border-white/10 py-6 px-4 sm:px-6 lg:px-8 sm:border-l">
              <p class="text-sm font-medium leading-6 text-gray-400">Success rate</p>
              <p class="mt-2 flex items-baseline gap-x-2">
                <span class="text-4xl font-semibold tracking-tight text-white">98%</span>
              </p>
            </div>
          </div>

          <!-- Activity list -->
          <div class="border-t border-white/10 pt-8">
            <h2 class="px-4 text-base font-semibold leading-7 text-white sm:px-6 lg:px-8">Latest activity</h2>
            <table class="mt-6 w-full whitespace-nowrap text-left">
              <colgroup>
                <col class="w-full sm:w-4/12">
                <col class="lg:w-4/12">
                <col class="lg:w-2/12">
                <col class="lg:w-1/12">
                <col class="lg:w-1/12">
              </colgroup>
              <thead class="border-b border-white/10 text-sm leading-6 text-white">
                <tr>
                  <th scope="col" class="py-2 pl-4 pr-8 font-semibold sm:pl-6 lg:pl-8">User</th>
                  <th scope="col" class="hidden py-2 pl-0 pr-8 font-semibold sm:table-cell">Commit</th>
                  <th scope="col" class="py-2 pl-0 pr-4 text-right font-semibold sm:pr-8 sm:text-left lg:pr-20">Status</th>
                  <th scope="col" class="hidden py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20">Duration</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-white/5">
                <tr>
                  <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
                    <div class="flex items-center gap-x-4">
                      <div class="truncate text-sm font-medium leading-6 text-white">Michael Foster</div>
                    </div>
                  </td>
                  <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
                    <div class="flex gap-x-3">
                      <div class="font-mono text-sm leading-6 text-gray-400">2d89f0c8</div>
                      <span class="inline-flex items-center rounded-md bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-gray-400/20">main</span>
                    </div>
                  </td>
                  <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
                    <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                      <time class="text-gray-400 sm:hidden" datetime="2023-01-23T11:00">45 minutes ago</time>
                      <div class="flex-none rounded-full p-1 text-green-400 bg-green-400/10">
                        <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                      </div>
                      <div class="hidden text-white sm:block">Completed</div>
                    </div>
                  </td>
                  <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">25s</td>
                
                </tr>

                <!-- More items... -->
              </tbody>
            </table>
          </div>
        </div>

        <div data-tabs-target="panel">
          <div class="px-8 border-t border-white/10">
             <%= render 'form', distribution: @distribution %>
          </div>
        </div>

      </div>
      <% end %> 

    </div>

    
