<div class="mx-auto mt-8 grid max-w-3xl grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
  <div class="space-y-6 lg:col-span-3 lg:col-start-1">
    <div data-controller="slideover"
          data-slideover-invisible-class="translate-x-full,opacity-0"
          data-slideover-visible-class="translate-x-0,opacity-100"
          data-slideover-entering-class=""
          data-slideover-enter-timeout="300,300"
          data-slideover-leaving-class=""
          data-slideover-leave-timeout="300,300"
          data-slideover-active-target="#slideover-target">
      <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6 rounded-t-md shadow">
        <div class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
          <div class="ml-4 mt-4">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Contacts</h3>
          </div>
          <div class="ml-4 mt-4 flex-shrink-0" data-action="click->slideover#_show">
            <button type="button" class="relative inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add new contact</button>
          </div>
        </div>
      </div>
      <div class="overflow-hidden bg-white shadow sm:rounded-b-md">
        <ul role="list" class="divide-y divide-gray-200 list-none"  data-controller="drawers">
        <% if @company.contacts.present? %>
          <% @company.contacts.each do |contact| %>
            <li  data-drawers-target="tab" data-action="click->drawers#change">
              <a href="#" class="block hover:bg-gray-50">
                <div class="flex items-center px-4 py-4 sm:px-6">
                  <div class="flex min-w-0 flex-1 items-center">
                    <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                      <div>
                        <p class="truncate text-sm font-medium text-indigo-600"><%= contact.name %></p>
                        <p class="mt-2 flex items-center text-sm text-gray-500">
                          
                          <span class="truncate"><%= contact.email %></span>
                        </p>
                      </div>
                      <div class="hidden md:block">
                        <div>
                          <p class="mt-2 flex items-center text-sm text-gray-500">
                            Added <%= contact.created_at.strftime("%b %e, %Y") %>
                          </p>
                          <p class="mt-2 flex items-center text-sm text-gray-500">
                            <%= number_to_phone(contact.phone, area_code: true)  %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <svg data-drawers-target="open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-gray-400">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>

                    <svg data-drawers-target="close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-5 w-5 text-gray-400">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>

                  </div>
                </div>
              </a>
            </li>
            <%= render 'edit_contact', contact: contact %>
          <% end %>
          <% else %>
            <div class="text-center p-8">
              <%= image_tag "empty.svg", class: "w-1/3 mb-4 m-auto" %>
            </div>
        <% end %>
        </ul>
      </div>
      <%= render 'contact_slideover', company: @company %>
    </div>
  </div>
  
</div>