<div class="mx-auto mt-8 grid max-w-3xl grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
  <div class="space-y-6 lg:col-span-3 lg:col-start-1">
    <div data-controller="slideover"
          data-slideover-invisible-class="translate-x-full,opacity-0"
          data-slideover-visible-class="translate-x-0,opacity-100"
          data-slideover-entering-class=""
          data-slideover-enter-timeout="300,300"
          data-slideover-leaving-class=""
          data-slideover-leave-timeout="300,300"
          data-slideover-active-target="#slideover-target">
      <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6 rounded-t-lg">
        <div class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
          <div class="ml-4 mt-4">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Contacts</h3>
          </div>
          <div class="ml-4 mt-4 flex-shrink-0" data-action="click->slideover#_show">
            <button type="button" class="relative inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add new contact</button>
          </div>
        </div>
      </div>
      <div class="overflow-hidden bg-white shadow sm:rounded-b-lg">
        <div class="w-full overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th class="sticky left-0 z-10 w-48 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider bg-white border-r border-gray-200">Name</th>
                <!-- Other column headers -->
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Phone</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Updated</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Column 3</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Column 3</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Column 3</th>
                
                <!-- Add more column headers as needed -->
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <% if @company.contacts.present? %>
              <% @company.contacts.each do |contact| %>
              <tr>
                <td class="sticky left-0 z-10 w-48 px-6 py-4 whitespace-nowrap text-sm text-gray-500 bg-white border-r border-gray-200"><%= contact.name %></td>
                <!-- Other row cells -->
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= contact.email %></td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= number_to_phone(contact.phone, area_code: true)  %></td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= contact.updated_at.strftime("%b %e, %Y") %></td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Row 1, Column 5</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Row 1, Column 6</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Row 1, Column 7</td>
       
                <!-- Add more row cells as needed -->
              </tr>
              <% end %>
            <% else %>
                <div class="text-center p-8">
                  <%= image_tag "empty.svg", class: "w-1/3 mb-4 m-auto" %>
                </div>
            <% end %>
              <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
      <%= render 'contact_slideover', company: @company %>
    </div>
  </div>
  
</div>