<%= form_with(model: company, html: { class: 'space-y-4', id: 'new_company' }) do |form| %>
  <% if company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="project-name" class="block text-sm font-medium leading-6 text-white">Company name</label>
    <%= form.text_field :name, id: 'source_company', class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 [&_*]:text-black" %>
  </div>

  <div id="contacts" class="">
    <%#= render partial: "contact", collection: @company.contacts %>
  </div>

  <div class="mb-2">
    <%#= link_to "Add a Contact", contact_field_companies_path, data: { turbo_stream: true }, class: "px-4 py-2 rounded-md bg-blue-300 hover:bg-blue-400" %>
  </div>

  <div>
    <% if form.object.persisted? %>
      <%= form.submit "Update", class: "inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2" %>
    <% else %>
      <%= form.submit "Create", class: "inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2" %>
    <% end %>
  </div>
<% end %>
