<div class="relative z-20" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
<!-- Background backdrop, show/hide based on slide-over state. -->

    <div class="fixed inset-0 overflow-hidden transition-opacity ease-linear duration-300 opacity-0 hidden"  data-slideover-target="overlay">
        <div class="fixed inset-0 bg-gray-800 opacity-40"></div>
        <div class="absolute inset-0 overflow-hidden">
            <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full w-11/12 lg:w-5/12 pl-10 sm:pl-16">
                <!--
                Slide-over panel, show/hide based on slide-over state.

                Entering: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-full"
                    To: "translate-x-0"
                Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-0"
                    To: "translate-x-full"
                -->
                <div data-controller="companies" class="pointer-events-auto w-full transform transition ease-in-out duration-500 sm:duration-700 translate-x-full hidden" data-slideover-target="menu" >
                    <div class="flex h-full flex-col divide-y divide-gray-200 bg-white shadow-xl" data-companies-target='newCSForm'>
                            <%= form_with(model: campaign, local: true) do |form| %>
                                <div class="flex-1 overflow-y-auto">
                                    <div class="bg-indigo-700 py-6 px-4 sm:px-6">
                                        <div class="flex items-center justify-between">
                                        <h2 class="text-base font-semibold leading-6 text-white" id="slide-over-title">Connect a Source</h2>
                                        <div class="ml-3 flex h-7 items-center" >
                                            <button data-action="slideover#_hide" type="button" class="rounded-md bg-indigo-700 text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                                            <span class="sr-only">Close panel</span>
                                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                            </svg>
                                            </button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-1 flex-col justify-between">
                                        <%= render "shared/error_messages", resource: form.object %>
                                        <div class="divide-y divide-gray-200 px-4 sm:px-6">
                                            <div class="space-y-6 pt-6 pb-5">  
                                                
                                                <div>
                                                <%= form.fields_for CampaignSource.new do |cs_form| %>
                                                    <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-4">
                                                        <div class="sm:col-span-4">
                                                            <turbo-frame id="sources">
                                                                <div>
                                                                <%= cs_form.label :source_id, "Select an Existing Source" %>
                                                                <p class="text-sm text-gray-500 my-3">or start typing to create a new source</p>
                                                                <%= cs_form.select(:source_id, options_for_select(@sources.map{ |c| [c.landing_page_url, c.id] }), {include_blank: true}, id: 'source_name', data: { companies_target: 'sourceSelectField' }) %>
                                                                </div>
                                                            </turbo-frame>
                                                        </div>
                                                        <div class="sm:col-span-2">
                                                            <div>
                                                            <%= cs_form.label :daily_limit, "Daily Ping Limit" %>
                                                            <%= cs_form.number_field :daily_limit, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                            </div>
                                                        </div>
                                                       
                                                        <div class="sm:col-span-2">
                                                            <div>
                                                            <%= cs_form.label :monthly_limit, "Monthly Ping Limit" %>
                                                            <%= cs_form.number_field :monthly_limit, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-shrink-0 justify-end px-4 py-3">
                                    <button data-action="slideover#_hide" type="button" class="rounded-md bg-white py-2 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Cancel</button>
                                    <%= form.button "Add Source", data: { turbo: false }, class: "ml-4 inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
                                    </div>
                                </div>
                            <% end %>
                            </div>
                            
                            <div class="flex h-full flex-col divide-y divide-gray-200 bg-white shadow-xl hidden" data-companies-target='newSourceForm'>
                            <%= form_with url: create_source_campaign_path(campaign), model: Source.new, local: true do |form| %>
                                <div class="flex-1 overflow-y-auto">
                                    <div class="bg-indigo-700 py-6 px-4 sm:px-6">
                                        <div class="flex items-center justify-between">
                                        <h2 class="text-base font-semibold leading-6 text-white" id="slide-over-title">Create a New Source</h2>
                                        <div class="ml-3 flex h-7 items-center" >
                                            <button data-action="slideover#_hide" type="button" class="rounded-md bg-indigo-700 text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                                            <span class="sr-only">Close panel</span>
                                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                            </svg>
                                            </button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-1 flex-col justify-between">
                                        <%#= render "shared/error_messages", resource: form.object %>
                                        <div class="divide-y divide-gray-200 px-4 sm:px-6">
                                            <div class="space-y-6 pt-6 pb-5">  
                                                <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-4">
                                                    <div class="sm:col-span-4">
                                                        <div>
                                                        <%= form.label :name, "Source Name" %>
                                                        <%= form.text_field :name, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", data: { companies_target: 'sourceNameField' } %>
                                                        </div>
                                                    </div>
                                                   <div class="sm:col-span-4">
                                                        <turbo-frame id="companies">
                                                            <div>
                                                            <%= form.label :company_id, "Select an Existing Company" %>
                                                            <p class="text-sm text-gray-500 my-3">or start typing to create a new company</p>
                                                            <%= form.select(:company_id, options_for_select(@companies.map{ |c| [c.name, c.id] }), {include_blank: true}, id: 'company_name', data: { companies_target: 'companySelectField' }) %>
                                                            </div>
                                                        </turbo-frame>
                                                    </div>
                                                    <div class="sm:col-span-2">
                                                        <div>
                                                        <%= form.label :name, "Source URL" %>
                                                        <%= form.text_field :landing_page_url, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                        </div>
                                                    </div>

                                                    <div class="sm:col-span-2">
                                                        <div>
                                                        <%= form.label :name, "Postback URL" %>
                                                        <%= form.text_field :postback_url, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                        </div>
                                                    </div>

                                                    <div class="sm:col-span-4">
                                                        <div>
                                                        <%= form.label :name, "Budget" %>
                                                        <%= form.number_field :budget, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                        </div>
                                                    </div>

                                                    <div class="sm:col-span-4">
                                                        <div>
                                                        <%= form.label :name, "Payout" %>
                                                        <%= form.number_field :payout, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-shrink-0 justify-end px-4 py-3">
                                        <button data-action="slideover#_hide" type="button" class="rounded-md bg-white py-2 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Cancel</button>
                                        <%= form.button class: "ml-4 inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
                                    </div>
                                </div>
                            <% end %>
                            </div>
                            
                            <div class="flex h-full flex-col divide-y divide-gray-200 bg-white shadow-xl hidden" data-companies-target='newCompanyForm'>

                        <%= form_with(model: company) do |form| %>
                            <div class="flex-1 overflow-y-auto">
                                <div class="bg-indigo-700 py-6 px-4 sm:px-6">
                                    <div class="flex items-center justify-between">
                                    <h2 class="text-base font-semibold leading-6 text-white" id="slide-over-title">Create a New Company</h2>
                                    <div class="ml-3 flex h-7 items-center" >
                                        <button data-action="slideover#_hide" type="button" class="rounded-md bg-indigo-700 text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                                        <span class="sr-only">Close panel</span>
                                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                        </button>
                                    </div>
                                    </div>
                                </div>
                                <div class="flex flex-1 flex-col justify-between">
                                    <%= render "shared/error_messages", resource: form.object %>
                                    <div class="divide-y divide-gray-200 px-4 sm:px-6">
                                        <div class="space-y-6 pt-6 pb-5">  
                                            <div class="mt-2 grid gap-x-6 gap-y-6 grid-cols-6">
                                                    <h3 class="text-base font-semibold leading-7 text-gray-900 col-span-full">Company Information</h3>
                                                    <div class="col-span-full">
                                                        <div>
                                                        <%= form.text_field :name, placeholder: "Company Name", autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", data: { companies_target: 'companyNameField' }%>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-span-full lg:col-span-4">
                                                        <div>
                                                        <%= form.text_field :address, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                        </div>
                                                    </div>

                                                    <div class="col-span-3 sm:col-span-2">
                                                        <div>
                                                        <%= form.text_field :city, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                        </div>
                                                    </div>

                                                    <div class="col-span-3 sm:col-span-2">
                                                        <div>
                                                        <%= form.text_field :state, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                        </div>
                                                    </div>

                                                    <div class="col-span-3 sm:col-span-2">
                                                        <div>
                                                        <%= form.text_field :zip_code, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                        </div>
                                                    </div>
                                                    <div class="col-span-3 sm:col-span-2">
                                                        <select id="country" name="country" autocomplete="country-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                                            <option>United States</option>
                                                            <option>Canada</option>
                                                            <option>Mexico</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            <h3 class="text-base font-semibold leading-7 text-gray-900">Contact</h3>
                                            <div>
                                            <%= fields_for :contacts do |ff| %>
                                                    <%= ff.hidden_field :id %>
                                                
                                                    <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                                        <div class="sm:col-span-3">
                                                            <div>
                                                            <%= ff.text_field :first_name, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                            </div>
                                                        </div>

                                                        <div class="sm:col-span-3">
                                                            <div>
                                                            <%= ff.text_field :last_name, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                            </div>
                                                        </div>

                                                        <div class="sm:col-span-4">
                                                            <div>
                                                            <%= ff.text_field :email, placeholder: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                            </div>
                                                        </div>
                                                    </div>

                                                <% end %>
                                            </div>

                                            <h3 class="text-base font-semibold leading-7 text-gray-900 col-span-full">Payment Terms</h3>
                                            <div class="border-b border-gray-900/10 pb-12">

                                                <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                                    <div class="sm:col-span-2">
                                                        <label for="street-address" class="block text-sm font-medium leading-6 text-gray-900">Billing Cycle</label>
                                                        <div class="mt-2">
                                                            <%= form.collection_select :billing_cycle, Company::CYCLE, :to_s, :humanize, include_blank: false %>
                                                        </div>
                                                    </div>

                                                    <div class="sm:col-span-2">
                                                        <label for="street-address" class="block text-sm font-medium leading-6 text-gray-900">Payment Terms</label>
                                                        <div class="mt-2">
                                                            <%= form.number_field :payment_terms, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                                                        </div>
                                                    </div>

                                                    <div class="sm:col-span-2">
                                                        <label for="street-address" class="block text-sm font-medium leading-6 text-gray-900">Currency</label>
                                                        <div class="mt-2">
                                                            <%= form.collection_select :currency, Company::CURRENCY, :to_s, :upcase, include_blank: false %>
                                                        </div>
                                                    </div>

                                                </div>

                                              
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-shrink-0 justify-end px-4 py-3">
                                <button data-action="slideover#_hide" type="button" class="rounded-md bg-white py-2 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Cancel</button>
                                <%= form.button "Create Partner", class: "ml-4 inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

