<!-- Heading -->
<div class="flex flex-col items-start justify-between gap-x-8 gap-y-4 px-4 py-4 sm:flex-row sm:items-center sm:px-6 lg:px-8">
  <div>
    <div class="flex items-center gap-x-3">
      <h1 class="flex gap-x-3 text-base leading-7">
        <span class="font-semibold text-gray-700 dark:text-white"><%= campaign.name %></span>
      </h1>
    </div>
    <p class="mt-2 text-xs leading-6 text-gray-600 dark:text-gray-400">Updated <%= time_ago_in_words(campaign.updated_at) %> ago</p>
  </div>
  <div class="order-first flex-none rounded-full <%= status_color_class(campaign.status) %> px-6 py-1 text-xs font-medium dark:ring-1 dark:ring-inset  sm:order-none"><%= campaign.status.titleize %></div>
</div>

<!-- navigation -->
<nav class="flex overflow-x-auto pb-4">
  <ul role="list" class="list-none flex min-w-full flex-none gap-x-6 px-4 text-sm font-semibold leading-6 text-gray-400 sm:px-6 lg:px-8">
    <li>
      <%= nav_link_to campaign_path(campaign), inactive_class: "border-transparent text-gray-600 dark:text-gray-300 hover:border-neutral-300 hover:text-indigo-500 dark:hover:text-neutral-300", active_class: '-mb-px transition text-indigo-500 dark:text-indigo-400 focus:text-indigo-400' do %>
        Overview
      <% end %>
    </li>
    <li>
        <%= nav_link_to campaign_campaign_fields_path(campaign), inactive_class: "border-transparent text-gray-600 dark:text-gray-300 hover:border-neutral-300 hover:text-indigo-500 dark:hover:text-neutral-300", active_class: '-mb-px transition text-indigo-500 dark:text-indigo-400 focus:text-indigo-400', contains: ["/calculated_fields", "/fields"] do %>
                Fields
        <% end %>
    </li>
    <li>
      <%= nav_link_to campaign_sources_path(campaign), inactive_class: "border-transparent text-gray-600 dark:text-gray-300 hover:border-neutral-300 hover:text-indigo-500 dark:hover:text-neutral-300", active_class: '-mb-px transition text-indigo-500 dark:text-indigo-400 focus:text-indigo-400', contains: ["/source"] do %>
        Sources
      <% end %>
    </li>
    <li>
      <%= nav_link_to campaign_distributions_path(campaign), inactive_class: "border-transparent text-gray-600 dark:text-gray-300 hover:border-neutral-300 hover:text-indigo-500 dark:hover:text-neutral-300", active_class: '-mb-px transition text-indigo-500 dark:text-indigo-400 focus:text-indigo-400', contains: ["/distribution"] do %>
        Distributions
      <% end %>
    </li>
    <li>
      <%= nav_link_to edit_campaign_path(campaign), inactive_class: "border-transparent text-gray-600 dark:text-gray-300 hover:border-neutral-300 hover:text-indigo-500 dark:hover:text-neutral-300", active_class: '-mb-px transition text-indigo-500 dark:text-indigo-400 focus:text-indigo-400' do %>
        Settings
      <% end %>
    </li>
    <li>
      <%= nav_link_to logs_campaign_path(campaign), inactive_class: "border-transparent text-gray-600 dark:text-gray-300 hover:border-neutral-300 hover:text-indigo-500 dark:hover:text-neutral-300", active_class: '-mb-px transition text-indigo-500 dark:text-indigo-400 focus:text-indigo-400' do %>
        Logs
      <% end %>
    </li>
  </ul>
</nav>



  


  