
<%= render 'header', campaign: @campaign %>

<div data-controller="tabs" data-tabs-active-tab="border-indigo-500 text-indigo-600" data-tabs-inactive-tab="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" class=" mt-6 bg-white rounded-lg shadow">
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
        <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500">
        <option selected>Sources</option>
        <option>Distributions</option>
        <option>Integrations</option>
        </select>
    </div>
    <div class="hidden sm:block">
        <div class="border-b border-gray-200">
        <nav class="-mb-px flex" aria-label="Tabs">
            <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            <a href="#" id="sources" data-tabs-target="tab" data-action="click->tabs#change" class="w-1/2 border-b-2 py-4 px-1 text-center text-sm font-medium" aria-current="page">Sources</a>
            <a href="#" id="distributions" data-tabs-target="tab" data-action="click->tabs#change" class="w-1/2 border-b-2 py-4 px-1 text-center text-sm font-medium">Distributions</a>
        </nav>
        </div>
    </div>
    <div id="sources" data-tabs-target="panel" data-controller="slideover"
                data-slideover-invisible-class="translate-x-full,opacity-0"
                data-slideover-visible-class="translate-x-0,opacity-100"
                data-slideover-entering-class=""
                data-slideover-enter-timeout="300,300"
                data-slideover-leaving-class=""
                data-slideover-leave-timeout="300,300"
                data-slideover-active-target="#slideover-target">
                <div class="overflow-x-hidden overflow-x-scroll">
        <div class="px-4 py-8 sm:p-6 bg-gray-100 border-gray-200 border">
            <div class="max-w-xl text-sm text-gray-500">
                <p>Connect an existing source to your campaign</p>
            </div>
            <%= form_with(model: @campaign, local: true, class: "mt-5 sm:flex sm:items-center") do |form| %>
                <%= render "shared/error_messages", resource: form.object %>
                
                <%= form.fields_for :campaign_sources, CampaignSource.new do |cs_form| %>
                    <div class="w-full sm:max-w-xs">
                        <%= cs_form.select(:source_id, options_for_select(@sources.map{ |c| [c.display_name, c.id] }), {include_blank: true}, id: 'source_name') %>
                    </div>
                    <%= form.button "Connect", data: { turbo: false }, class: "ml-4 inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
                    <div class="ml-4 flex-shrink-0" data-action="click->slideover#_show">
                        <button type="button" class="relative inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create a new source</button>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="mt-1">
            <div>
                    <ul role="list" class="divide-y divide-gray-200 list-none"  data-controller="drawers">
                    <% if @campaign.sources.present? %>
                        <% @campaign.campaign_sources.order(updated_at: :desc).each do |cs| %>
                        <li  data-drawers-target="tab" data-action="click->drawers#change" >
                            <a href="#" class="block hover:bg-gray-50">
                            <div class="flex items-center px-4 py-4 sm:px-6">
                                <div class="flex min-w-0 flex-1 items-center">
                                <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                                    <div>
                                    <p class="flex items-center truncate text-sm font-medium text-indigo-600"><%= cs.source.display_name %></p>
                                    </div>
                                    <div class="hidden md:block">
                                    <div>
                                        <p class="flex items-center text-sm text-gray-500">
                                        Updated <%= cs.updated_at.strftime("%b %e, %Y") %>
                                        </p>
                                    
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div>
                                <svg data-drawers-target="open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-gray-400">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>

                                <svg data-drawers-target="close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-5 w-5 text-gray-400">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                </svg>

                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="hidden bg-gray-100 shadow-inner"  data-drawers-target="panel">
                            <div class="flex items-center px-4 py-4 sm:px-6">
                                <div class="flex min-w-0 flex-1 items-center">
                                    <div class="min-w-0 flex-1">
                                            <div class="flex-1 overflow-y-auto">
                                                <div class="flex flex-1 flex-col justify-between">
                                                    <div class="divide-y divide-gray-200 px-2 sm:px-4">
                                                        <div class="space-y-6 pb-5">     
                                                            <div>
                                                                <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                                                    <div class="sm:col-span-5">
                                                                        <div>
                                                                        <%= cs.source.landing_page_url %>
                                                                        </div>
                                                                    </div>

                                                                    
                                                                    <div data-controller="dropdown" class="relative ml-auto sm:col-span-1">
                                                                        <button data-action="click->dropdown#toggle touch->dropdown#toggle click@window->dropdown#hide" type="button" class="top-0 right-0 block p-1 text-gray-400 hover:text-gray-500" id="options-menu-0-button" aria-expanded="false" aria-haspopup="true">
                                                                            <span class="sr-only">Open options</span>
                                                                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                                                <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
                                                                            </svg>
                                                                        </button>

                                                                        <!--
                                                                        Dropdown menu, show/hide based on menu state.

                                                                        Entering: "transition ease-out duration-100"
                                                                            From: "transform opacity-0 scale-95"
                                                                            To: "transform opacity-100 scale-100"
                                                                        Leaving: "transition ease-in duration-75"
                                                                            From: "transform opacity-100 scale-100"
                                                                            To: "transform opacity-0 scale-95"
                                                                        -->
                                                                        <div data-dropdown-target="menu" class="hidden absolute right-0 z-10 mt-0.5 w-36 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu-0-button" tabindex="-1">
                                                                        <!-- Active: "bg-gray-50", Not Active: "" -->
                                                                        <div>
                                                                           <div data-controller="slideover"
                                                                                data-slideover-invisible-class="translate-x-full,opacity-0"
                                                                                data-slideover-visible-class="translate-x-0,opacity-100"
                                                                                data-slideover-entering-class=""
                                                                                data-slideover-enter-timeout="300,300"
                                                                                data-slideover-leaving-class=""
                                                                                data-slideover-leave-timeout="300,300"
                                                                                data-slideover-active-target="#slideover-target">
                                                                                <a href="#" data-action="click->slideover#_show"  class="block px-3 py-1 text-sm leading-6 text-gray-900" role="menuitem" tabindex="-1" id="options-menu-0-item-0">
                                                                                    Settings
                                                                                </a>
                                                                                <%= render 'cs_edit_slideover', campaign: @campaign, campaign_source: cs %>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <div data-controller="slideover"
                                                                                data-slideover-invisible-class="translate-x-full,opacity-0"
                                                                                data-slideover-visible-class="translate-x-0,opacity-100"
                                                                                data-slideover-entering-class=""
                                                                                data-slideover-enter-timeout="300,300"
                                                                                data-slideover-leaving-class=""
                                                                                data-slideover-leave-timeout="300,300"
                                                                                data-slideover-active-target="#slideover-target">
                                                                                <a href="#" data-action="click->slideover#_show" class="block px-3 py-1 text-sm leading-6 text-gray-900" role="menuitem" tabindex="-1" id="options-menu-0-item-1">
                                                                                    Edit Source
                                                                                </a>
                                                                                <%= render 'edit_source_slideover', campaign: @campaign, source: cs.source %>
                                                                            </div>
                                                                        </div>
                                                                            <a href="#" class="block px-3 py-1 text-sm leading-6 text-gray-900" role="menuitem" tabindex="-1" id="options-menu-0-item-1">Pause<span class="sr-only">, Tuple</span></a>
                                                                        </div>
                                                                    </div>

                                                                    <div class="sm:col-span-3">
                                                                        <div>
                                                                        <div class="mb-4 text-gray-600 text-xs uppercase font-bold">Posting Instructions</div>
                                                                        <pre class="whitespace-pre-wrap"><code>POST /api/v1/inbound/<%= cs.id %>/ping
                                                                            Authorization: Bearer <%= cs.source.company.affiliate_tokens.first ? cs.source.company.affiliate_tokens.first.token : 'No API token available' %></code></pre>

                                                                        
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                           
                            </li>
                        <% end %>
                        
                            <nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6" aria-label="Pagination">
                                <div class="hidden sm:block">
                                <p class="text-sm text-gray-700">
                                    Showing
                                    <span class="font-medium"><%= @campaign.sources.count < 5 ? @campaign.sources.count : 5 %></span>
                                    of
                                    <span class="font-medium"><%= @campaign.sources.count %></span>
                                    results
                                </p>
                                </div>
                                <div class="flex flex-1 justify-between sm:justify-end">
                                <a href="#sources" data-action="click->tabs#change" data-id="connections" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">See all</a>
                                </div>
                            </nav>
                        <% else %>
                        <div class="text-center p-12">
                            <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
                            </svg>
                            <h3 class="mt-2 text-sm font-semibold text-gray-900">No sources</h3>
                            <p class="mt-1 text-sm text-gray-500">Get started by creating a new source or connecting an existing source.</p>
                            
                        </div>
                    <% end %>
                    </ul>
                </div>

                <%= render 'cs_slideover', campaign: @campaign, company: Company.new %>
            </div>
        </div>
    </div>
    <div id="distributions" data-tabs-target="panel" data-controller="slideover"
                    data-slideover-invisible-class="translate-x-full,opacity-0"
                    data-slideover-visible-class="translate-x-0,opacity-100"
                    data-slideover-entering-class=""
                    data-slideover-enter-timeout="300,300"
                    data-slideover-leaving-class=""
                    data-slideover-leave-timeout="300,300"
                    data-slideover-active-target="#slideover-target">
        <div class="px-4 py-8 sm:p-6 bg-gray-100 border-gray-200 border">
            <div class="max-w-xl text-sm text-gray-500">
                <p>Connect an existing distribution to your campaign</p>
            </div>
            <%= form_with(model: @campaign, local: true, class: "mt-5 sm:flex sm:items-center") do |form| %>
                <%= render "shared/error_messages", resource: form.object %>
                
                <%= form.fields_for :campaign_distributions, CampaignDistribution.new do |cd_form| %>
                    <div class="w-full sm:max-w-xs">
                        <%= cd_form.select(:distribution_id, options_for_select(@distributions.map{ |c| [c.endpoint, c.id] }), {include_blank: true}, id: 'distribution_name') %>
                    </div>
                    <%= form.button "Connect", data: { turbo: false }, class: "ml-4 inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
                    <div class="ml-4 flex-shrink-0" data-action="click->slideover#_show">
                        <button type="button" class="relative inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create a new source</button>
                    </div>
                <% end %>
            <% end %>
        </div>

        <div class="lg:col-span-1">
            
            <div class="overflow-hidden">
                <ul role="list" class="divide-y divide-gray-200 list-none"  data-controller="drawers">
                    <% if @campaign.distributions.present? %>
                    <% @campaign.campaign_distributions.each do |cs| %>
                    <li  data-drawers-target="tab" data-action="click->drawers#change" >
                        <a href="#" class="block hover:bg-gray-50">
                        <div class="flex items-center px-4 py-4 sm:px-6">
                            <div class="flex min-w-0 flex-1 items-center">
                            <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                                <div>
                                <p class="flex items-center truncate text-sm font-medium text-indigo-600"><%= cs.distribution.endpoint %></p>
                                </div>
                                <div class="hidden md:block">
                                <div>
                                    <p class="flex items-center text-sm text-gray-500">
                                    Updated <%= cs.updated_at.strftime("%b %e, %Y") %>
                                    </p>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div>
                            <svg data-drawers-target="open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>

                            <svg data-drawers-target="close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-5 w-5 text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                            </svg>

                            </div>
                        </div>
                        </a>
                    </li>
                    <li class="hidden bg-gray-100 shadow-inner"  data-drawers-target="panel">
                        <div class="flex items-center px-4 py-4 sm:px-6" data-controller="slideover"
                            data-slideover-invisible-class="translate-x-full,opacity-0"
                            data-slideover-visible-class="translate-x-0,opacity-100"
                            data-slideover-entering-class=""
                            data-slideover-enter-timeout="300,300"
                            data-slideover-leaving-class=""
                            data-slideover-leave-timeout="300,300"
                            data-slideover-active-target="#slideover-target">
                            <div class="flex min-w-0 flex-1 items-center">
                                <div class="min-w-0 flex-1">
                                        <div class="flex-1 overflow-y-auto">
                                            <div class="flex flex-1 flex-col justify-between">
                                                <div class="divide-y divide-gray-200 px-2 sm:px-4">
                                                    <div class="space-y-6 pb-5">     
                                                        <div>
                                                            <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                                                <div class="sm:col-span-2">
                                                                    <div>
                                                                    <%= cs.distribution.endpoint %>
                                                                    </div>
                                                                </div>

                                                                <div class="sm:col-span-1">
                                                                    <div>
                                                                    
                                                                    </div>
                                                                </div>

                                                                <div class="sm:col-span-1">
                                                                    <div>
                                                                    
                                                                    </div>
                                                                </div>

                                                                <div class="sm:col-span-3">
                                                                    <div>
                                                                    <div class="mb-4 text-gray-600 text-xs uppercase font-bold">Posting Instructions</div>
                                                                    <pre class="whitespace-pre-wrap"><code>POST /api/v1/inbound/<%= cs.id %>/ping
                                                                        Authorization: Bearer <%= cs.distribution.company.affiliate_tokens.first ? cs.distribution.company.affiliate_tokens.first.token : 'No API token available' %></code></pre>

                                                                    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex flex-shrink-0 justify-end px-4 py-1">
                                            
                                                <div class="ml-4 mt-4 flex-shrink-0">
                                                    <%= link_to campaign_distribution_path(cs), method: :delete, data: { confirm: 'Are you sure you want to remove this distribution association?' } do %>
                                                    <button type="button" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold shadow-sm">Remove</button>
                                                    <% end %>
                                                </div>
                                                <div class="ml-4 mt-4 flex-shrink-0" data-action="click->slideover#_show">
                                                    <button type="button" class="relative inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Edit</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                </div>
                            </div>
                            <%= render 'edit_campaign_distribution_slideover', campaign: @campaign, campaign_distribution: cs %>
                        </div>
                    </li>
                    <% end %>
                    <nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6" aria-label="Pagination">
                            <div class="hidden sm:block">
                            <p class="text-sm text-gray-700">
                                Showing
                                <span class="font-medium"><%= @campaign.distributions.count < 5 ? @campaign.distributions.count : 5 %></span>
                                of
                                <span class="font-medium"><%= @campaign.distributions.count %></span>
                                results
                            </p>
                            </div>
                            <div class="flex flex-1 justify-between sm:justify-end">
                            <a href="#connections" data-action="click->tabs#change" data-id="connections" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">See all</a>
                            </div>
                        </nav>
                    <% else %>
                    <div class="text-center p-12">
                        <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
                        </svg>
                        <h3 class="mt-2 text-sm font-semibold text-gray-900">No distributions</h3>
                        <p class="mt-1 text-sm text-gray-500">Get started by creating a new distribution or connecting an existing distribution.</p>
                        
                    </div>
                <% end %>
                </ul>
                </div>
                <%= render 'distribution_slideover', campaign: @campaign %>
            </div>

    </div>
</div>


<%= render 'companies/new_partner', company: Company.new %>

