<%= render 'header', campaign: @campaign %>
    
<div class="mx-auto mt-6">
  <div class="lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
    <div class="lg:col-span-12">
      <div class="mx-auto swiper-container ">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none ">
          <% if @campaign.sources.exists? %>
            <div data-controller="slideover"
                data-slideover-invisible-class="translate-x-full,opacity-0"
                data-slideover-visible-class="translate-x-0,opacity-100"
                data-slideover-entering-class=""
                data-slideover-enter-timeout="300,300"
                data-slideover-leaving-class=""
                data-slideover-leave-timeout="300,300"
                data-slideover-active-target="#slideover-target">
            <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6 rounded-t-lg">
              <div class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
                <div class="ml-4 mt-4">
                  <h3 class="text-base font-semibold leading-6 text-gray-900">Sources</h3>
                </div>
                <div class="ml-4 mt-4 flex-shrink-0" data-action="click->slideover#_show">
                  <button type="button" class="relative inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add new contact</button>
                </div>
              </div>
            </div>
            <%= render 'sources/table', sources: @campaign.sources %>
            </div>
            
          <% else %>
          <ul role="list" class="swiper-wrapper flex overflow-y-hidden list-none grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8">
            <li data-controller="dropdown" class="overflow-hidden rounded-xl border border-gray-200 bg-white">
             <%= link_to campaign_connections_path(@campaign) do %>
              <div class="flex items-center gap-x-4 border-b border-gray-900/5 hover:bg-gray-50 bg-white px-6 py-10">

                <div class="absolute rounded-md bg-indigo-500 p-3">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                  </svg>
                </div>
                  <div class="ml-16 text-md font-medium leading-6 text-gray-900">Add your first source</div>
              </div>
              <% end %>
            </li>
           </ul>
          <% end %>
            
        </div>
      </div>

      

      

     

      <div data-controller="drawers">
        <div class="mt-6 flow-root">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
              <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-300">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Ping ID</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Source</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Payout</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Response</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date</th>
                      <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                        <span class="sr-only">More Info</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200 bg-white">
                    <% if @api_pings.present? %>
                      <% @api_pings.each do |ping| %>
                        <tr data-drawers-target="tab" data-action="click->drawers#change" >
                          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= ping.id %></td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= ping.source.company.initials %>: <%= ping.campaign_source.source.landing_page_url %></td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= ping.status.titleize %></td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= ping.price %></td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Duplicate</td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= ping.created_at.strftime("%b %e, %Y") %></td>
                          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                            <div>
                              <svg data-drawers-target="open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" h-5 w-5 text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                              </svg>

                              <svg data-drawers-target="close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-5 w-5 text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                              </svg>

                            </div>
                          </td>
                        </tr>
                        <tr data-drawers-target="panel" class="hidden bg-gray-200 h-36">
                          <td colspan="8">
                            <div class="overflow-hidden p-6">
                              <div class="px-4 pb-5 sm:px-6">
                                <h3 class="text-base font-semibold leading-6 text-gray-900">Ping Information</h3>
                              </div>
                              <div class="border-t border-gray-200 px-4 sm:px-6">
                                <dl class="grid grid-cols-1 gap-x-4 gap-y-5 sm:grid-cols-4">
                                  <div class="sm:col-span-1">
                                    <dt class="text-sm font-medium text-gray-500">Host</dt>
                                    <dd class="mt-1 text-sm text-gray-900"><%= ping.host %></dd>
                                  </div>
                                  <div class="sm:col-span-2">
                                    <dt class="text-sm font-medium text-gray-500">Request Body</dt>
                                    <dd class="mt-1 text-sm text-gray-900">
                                      <%= ping.request_body %>
                                    </dd>
                                  </div>
                                </dl>
                              </div>
                            </div>
                        
                          </td>
                        </tr>
                      <% end %>
                    <% else %>
                      <tr>
                        <td colspan="8" class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">No inbound pings found</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= render partial: 'shared/pagination_controls', locals: { pagination: @api_pings_pagination, page_param: :api_pings_page } if @inbound_pings.present? %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




  

