<div class="bg-white rounded-lg shadow flex-1 overflow-y-auto"> 

  <div class="border-b border-gray-200 bg-white p-3" data-controller="slideover"
    data-slideover-invisible-class="translate-x-full,opacity-0"
    data-slideover-visible-class="translate-x-0,opacity-100"
    data-slideover-entering-class=""
    data-slideover-enter-timeout="300,300"
    data-slideover-leaving-class=""
    data-slideover-leave-timeout="300,300"
    data-slideover-active-target="#slideover-target">

    <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
        <div class="ml-4 mt-2">
          <h3 class="text-base font-semibold leading-6 text-gray-900"></h3>
        </div>
        <div class="ml-4 mt-2 flex-shrink-0">
          <button data-action="click->slideover#_show" class="rounded-md bg-indigo-500 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
          <span>New Campaign</span>
        </button>
        </div>
      </div>
        <%= render 'slideover', campaign: @campaign %>

    </div>
      <div class="overflow-hidden">
          <% if @campaigns.exists? %>
            <div class="bg-white shadow sm:rounded-b-lg">
              <div class="w-full overflow-x-scroll">
                  <table class="min-w-full divide-y divide-gray-200">
                      <thead class="bg-gray-50">
                          <tr>
                          <th class="sticky left-0 z-10 w-48 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase border-r border-gray-200">Campaigns</th>
                          <!-- Other column headers -->
                          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Delivery</th>
                          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Primary vertical</th>
                          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Secondary vertical</th>
                          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Strategy</th>
                          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Budget</th>
                          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Inbound</th>
                          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Outbound</th>
                          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Results</th>
                          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Cost per result</th>
                          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Amount spent</th>                          
                          <!-- Add more column headers as needed -->
                          </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200">
                      <% if @campaigns.present? %>
                          <% @campaigns.each do |campaign| %>
                          <tr>
                          <td class="sticky left-0 z-10 w-48 px-6 py-4 whitespace-nowrap text-sm text-gray-500 bg-white border-r border-gray-200"><%= link_to campaign.name, campaign_path(campaign) %></td>
                          <!-- Other row cells -->
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><span class="inline-flex items-center rounded-md <%= status_color_class(campaign.status) %> px-2 py-1 text-xs font-medium ring-1 ring-inset"><%= campaign.status.titleize %></span></td>
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= campaign.vertical.primary_category.gsub('_', ' ').titleize %></td>
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= campaign.vertical.secondary_category %></td>
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= campaign.campaign_type.titleize %></td>
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"></td>
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= campaign.api_pings.count %></td>
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= campaign.outbound_pings.count %></td>
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"></td>
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"></td>
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"></td>                  
                          <!-- Add more row cells as needed -->
                          </tr>
                          <% end %>
                      <% else %>
                          <div class="text-center p-8">
                              <%= image_tag "empty.svg", class: "w-1/3 mb-4 m-auto" %>
                          </div>
                      <% end %>
                          <!-- Add more rows as needed -->
                      </tbody>
                  </table>
              </div>
            </div>
              
          <% else %>
            <div class="text-center p-8">
              <%= image_tag "empty.svg", class: "w-1/3 mb-4 m-auto" %>
            </div>
        <% end %>
      </div>
    </div>
</div>











