<%= render 'campaigns/campaign_header', campaign: @campaign %>

<div class="lg:flex lg:gap-x-10">
  <main class="px-4 sm:px-6 lg:flex-auto lg:px-0">
    <div class="mx-auto max-w-2xl space-y-6 sm:space-y-10 lg:mx-0 lg:max-w-none">
      <div class="flex justify-between">
        <div class="max-w-xs">
          <div class="pb-6 flex justify-between">
            <h2 class="antialiased font-sans font-medium text-2xl text-gray-900 dark:text-white leading-8 m-0">Campaign Metrics</h2>
          </div>
        </div>
        <div class="max-w-md flex space-x-6">
           <%= form_tag(campaign_path(@campaign), method: :get, id: "date-range-form") do %>
            <%= select_tag :date_range, options_for_select({
              "Past 24 Hours" => "24",
              "Past 7 Days" => "7",
              "Past 30 Days" => "30",
              "Past 180 Days" => "180",
            }, params[:date_range] || session[:date_range]), onchange: "this.form.submit();" %>
            <%= hidden_field_tag :source, params[:source] || session[:source] %>
            <%= hidden_field_tag :date_range, params[:distribution] || session[:distribution] %>
          <% end %>
        </div>
      </div>

    </div>

        <%= render 'quick_stats' %>

        <div class="border border-solid dark:border-slate-700 border-slate-200 rounded-md p-6">
          
          <div class="sticky">
            <div class="flex items-center justify-between mb-4">
              <div>
                <h3 class="antialiased font-sans font-medium text-lg leading-6 dark:text-white text-gray-800 mb-0.5">Inbound API Requests</h3>
              </div>
            </div>

            <%= line_chart @inbound_requests_by_date %>
          
            <hr class="w-[calc(100%_+_3rem)] bg-slate-200 my-6 -mx-6 mt-4">

            <div class="flex items-center justify-between mb-4">
              <div>
                <h3 class="antialiased font-sans font-medium text-lg leading-6 dark:text-white text-gray-800 mb-0.5">Outbound API Requests</h3>
              </div>
            </div>

            <%= line_chart @outbound_requests_by_date %>
          
          </div>
            
          <hr class="w-[calc(100%_+_3rem)] bg-slate-200 my-6 -mx-6">
            
        </div>


  </main>
</div>








