  
<%= render 'header', campaign: @campaign %>
    
<div class="mx-auto  mt-6">
    <div class="lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
        

<div class="lg:col-span-12">
          <!---- START CAMPAIGN SETUP ---->
          <div class="bg-white px-4 sm:px-6 rounded-lg shadow">
        <div class="relative isolate overflow-hidden">
    <!-- Secondary navigation -->
    <header class="pb-4 pt-6 sm:pb-6">
      <div class="mx-auto flex max-w-7xl flex-wrap items-center gap-6 px-4 sm:flex-nowrap sm:px-6 lg:px-8">
        <h1 class="text-base font-semibold leading-7 text-gray-900">Lead Flow</h1>
        <div class="order-last flex w-full gap-x-8 text-sm font-semibold leading-6 sm:order-none sm:w-auto sm:border-l sm:border-gray-200 sm:pl-6 sm:leading-7">
          <a href="#" class="text-indigo-600">Last 7 days</a>
          <a href="#" class="text-gray-700">Last 30 days</a>
          <a href="#" class="text-gray-700">All-time</a>
        </div>
        
      </div>
    </header>

    

    <!-- Stats -->
    <div class="border-b border-b-gray-900/10 lg:border-t lg:border-t-gray-900/5">
      <dl class="mx-auto grid max-w-7xl grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 lg:px-2 xl:px-0">
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8">
          <dt class="text-sm font-medium leading-6 text-gray-500">Inbound</dt>
          <dd class="text-xs font-medium text-green-700"><%= @mom_inbound %> Accepted </dd>
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900"><%= @current_month_inbound %></dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">Outbound</dt>
          <dd class="text-xs font-medium text-rose-600">+54.02%</dd>
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900"><%= @current_month_outbound %></dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 lg:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">Sales</dt>
          <dd class="text-xs font-medium text-gray-700">-1.39%</dd>
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">$245,988</dd>
        </div>
        <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
          <dt class="text-sm font-medium leading-6 text-gray-500">Profit</dt>
          <dd class="text-xs font-medium text-rose-600">+10.18%</dd>
          <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">$30,156</dd>
        </div>
      </dl>
    </div>

    <div class="absolute left-0 top-full -z-10 mt-96 origin-top-left translate-y-40 -rotate-90 transform-gpu opacity-20 blur-3xl sm:left-1/2 sm:-ml-96 sm:-mt-10 sm:translate-y-0 sm:rotate-0 sm:transform-gpu sm:opacity-50" aria-hidden="true">
      <div class="aspect-[1154/678] w-[72.125rem] bg-gradient-to-br from-[#73E22B] to-[#9089FC]" style="clip-path: polygon(100% 38.5%, 82.6% 100%, 60.2% 37.7%, 52.4% 32.1%, 47.5% 41.8%, 45.2% 65.6%, 27.5% 23.4%, 0.1% 35.3%, 17.9% 0%, 27.7% 23.4%, 76.2% 2.5%, 74.2% 56%, 100% 38.5%)"></div>
    </div>
  </div>
        </div>
        </div>


        <div class="mt-6 lg:col-span-12">
          <!---- START CAMPAIGN SETUP ---->
          <div class=" mb-3 bg-white px-4 py-5 sm:px-6 rounded-lg shadow">
            <h2 class="text-base font-semibold leading-6 text-gray-900">Complete Your Campaign Setup</h2>
            <p class="mt-1 text-sm text-gray-500">Get started by adding sources and distributions or start from an empty campaign.</p>
            <ul role="list" class="list-none mt-6 divide-y divide-gray-200 border-t border-gray-200">
              <li>
                <div class="group relative flex items-start space-x-3 py-4">
                  <div class="flex-shrink-0">
                    <span class="inline-flex h-10 w-10 items-center justify-center rounded-lg bg-cyan-500">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 3.75H6A2.25 2.25 0 003.75 6v1.5M16.5 3.75H18A2.25 2.25 0 0120.25 6v1.5m0 9V18A2.25 2.25 0 0118 20.25h-1.5m-9 0H6A2.25 2.25 0 013.75 18v-1.5M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                      </svg>

                    </span>
                  </div>
                  <div class="min-w-0 flex-1">
                    <div class="text-sm font-medium text-gray-900">
                      <a href="#">
                      <%= link_to campaign_connections_path(@campaign, anchor: "sources") do %>
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        Add Sources
                      <% end %>
                    </div>
                    <p class="text-sm text-gray-500">Add or manage sources for your campaign to organize where your leads are coming from.</p>
                  </div>
                  <div class="flex-shrink-0 self-center">
                    <svg class="h-5 w-5 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                    </svg>
                  </div>
                </div>
              </li>

              <li>
                <div class="group relative flex items-start space-x-3 py-4">
                  <div class="flex-shrink-0">
                    <span class="inline-flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M9.348 14.651a3.75 3.75 0 010-5.303m5.304 0a3.75 3.75 0 010 5.303m-7.425 2.122a6.75 6.75 0 010-9.546m9.546 0a6.75 6.75 0 010 9.546M5.106 18.894c-3.808-3.808-3.808-9.98 0-13.789m13.788 0c3.808 3.808 3.808 9.981 0 13.79M12 12h.008v.007H12V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                      </svg>
                    </span>
                  </div>
                  <div class="min-w-0 flex-1">
                    <div class="text-sm font-medium text-gray-900">
                      <%= link_to campaign_connections_path(@campaign, anchor: "distributions") do %>
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        Configure Distributions
                      <% end %>
                    </div>
                    <p class="text-sm text-gray-500">Define and manage how your leads are distributed to buyers or other destinations.</p>
                  </div>
                  <div class="flex-shrink-0 self-center">
                    <svg class="h-5 w-5 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                    </svg>
                  </div>
                </div>
              </li>

              <li>
                <div class="group relative flex items-start space-x-3 py-4">
                  <div class="flex-shrink-0">
                    <span class="inline-flex h-10 w-10 items-center justify-center rounded-lg bg-yellow-500">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z" />
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                      </svg>
                      </span>
                  </div>
                  <div class="min-w-0 flex-1">
                    <div class="text-sm font-medium text-gray-900">
                      <%= link_to campaign_settings_path(@campaign) do %>
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        Finalize Settings
                      <% end %>
                    </div>
                    <p class="text-sm text-gray-500">Review and confirm all of your campaign settings before launching.</p>
                  </div>
                  <div class="flex-shrink-0 self-center">
                      <svg class="h-5 w-5 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                      </svg>
                  

                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!--- END CAMPAIGN SETUP --->
        </div>
    </div>
</div>

