<%= form_with(model: [@context, @field]) do |form| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="space-y-12">
    <div class="border-b border-white/10 pb-12">
      <div class="space-y-10" data-controller="form-toggle">
        <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <%= form.label :field_name, class: "block text-sm font-medium leading-6 text-white" %>
    
            <div class="mt-2">
              <div class="flex rounded-md bg-white/5 ring-1 ring-inset ring-white/10 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                <%= form.text_field :name, class: "flex-1 border-0 bg-transparent py-1.5 pl-3 text-white focus:ring-0 sm:text-sm sm:leading-6", placeholder: "new_campaign_field" %>
              </div>
            </div>
          </div>

          <div class="sm:col-span-3">
            <%= form.label :data_type, class: "block text-sm font-medium leading-6 text-white" %>
            <div class="mt-2">
              <%= form.select(:data_type, Field.data_types.keys.map { |type| [type.titlecase, type] }, {}, { data: { action: "change->form-toggle#toggleElement", form_toggle_target: "dataType" }, class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 [&_*]:text-black" }) %>
            </div>
          </div>

        </div>

        <fieldset class="px-6 pb-6 border border-white/10 rounded-lg" >
          <legend class="-mt-3 mb-3 text-sm font-semibold leading-6 text-white">Field Settings (check all that apply)</legend>
          <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-2 flex items-center gap-x-3">
              <div class="flex h-6 items-center">
                <%= form.check_box :required, class: "h-4 w-4 rounded border-white/10 bg-white/5 text-indigo-600 focus:ring-indigo-600 focus:ring-offset-gray-900" %>
              </div>
              <div class="text-sm leading-6">
                <label for="required" class="font-normal text-white">Required</label>
              </div>
            </div>
            <div class="sm:col-span-2 flex items-center gap-x-3">
              <div class="flex h-6 items-center">
                <%= form.check_box :post_only, class: "h-4 w-4 rounded border-white/10 bg-white/5 text-indigo-600 focus:ring-indigo-600 focus:ring-offset-gray-900" %>
              </div>
              <div class="text-sm leading-6">
                <label for="post_only" class="font-normal text-white">Post only</label>
              </div>
            </div>
            <div class="sm:col-span-2 flex items-center gap-x-3">
              <div class="flex h-6 items-center">
                <%= form.check_box :is_pii, class: "h-4 w-4 rounded border-white/10 bg-white/5 text-indigo-600 focus:ring-indigo-600 focus:ring-offset-gray-900" %>
              </div>
              <div class="text-sm leading-6">
                <label for="is_pii" class="font-normal text-white">Sensitive (PII)</label>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="space-y-10">
          <fieldset class="px-6 pb-6 border border-white/10 rounded-lg" >
            <%= form.label :value_acceptance, 'Permitted Values', class: "-mt-3 mb-3 text-sm font-semibold leading-6 text-white" %>
            <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-2 flex items-center gap-x-3">
                <%= form.radio_button :value_acceptance, 'any', data: { action: "form-toggle#toggleFieldGroup", form_toggle_target: "default" }, class: "h-4 w-4 border-white/10 bg-white/5 text-indigo-600 focus:ring-indigo-600 focus:ring-offset-gray-900", checked: true %>
                <%= form.label :accepted_values_any, 'Any Value', class: "block text-sm font-normal leading-6 text-white" %>
              </div>
              <div class="sm:col-span-2 flex items-center gap-x-3 <% unless form.object.data_type == 'text' || form.object.data_type == 'number' || !form.object.persisted? %>hidden<% end %>" data-form-toggle-target="toggleable" data-show-for="text number">
                <%= form.radio_button :value_acceptance, 'list', data: { action: "form-toggle#toggleFieldGroup" }, class: "h-4 w-4 border-white/10 bg-white/5 text-indigo-600 focus:ring-indigo-600 focus:ring-offset-gray-900" %>
                <%= form.label :accepted_values_list, 'List of values', class: "block text-sm font-normal leading-6 text-white" %>
              </div>
              <div class="sm:col-span-2 flex items-center gap-x-3 <% unless form.object.data_type == 'number' %>hidden<% end %>" data-form-toggle-target="toggleable" data-show-for="number">
                <%= form.radio_button :value_acceptance, 'range', data: { action: "form-toggle#toggleFieldGroup" }, class: "h-4 w-4 border-white/10 bg-white/5 text-indigo-600 focus:ring-indigo-600 focus:ring-offset-gray-900" %>
                <%= form.label :accepted_values_range, 'Range', class: "block text-sm font-normal leading-6 text-white" %>
              </div>
            </div>
          </fieldset>

          <div data-form-toggle-target="fieldGroup hideable" data-field-group="list" class="<% unless form.object.value_acceptance == 'list' %>hidden<% end %>">
            <%= form.label :list_values, 'List of values', class: "-mt-3 mb-3 text-sm font-semibold leading-6 text-white" %>
            <table class="min-w-full">                    
                <tbody id="list_values">     
                  <%= form.fields_for :list_values do |lv| %>
                    <%= lv.hidden_field :id %>  
                    <tr data-fields-target="field" data-controller="fields">                                        
                        <td class="whitespace-nowrap pr-3 py-2 text-sm text-gray-500">
                            <%= lv.text_field :list_value, data: { form_toggle_target: "fields" }, class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 [&_*]:text-black", placeholder: 'List value' %>
                            <div class="hidden text-red-500 mt-2 w-36"></div>
                        </td>
                        <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">
                            <% if lv.object.persisted? %>
                                <%= lv.hidden_field :_destroy, data: { fields_target: "delete" }, list_value_id: lv.object.id %>
                                <%= button_tag(type: 'button', data: { action: "click->fields#deleteField", field_id: lv.object.id }, class: "rounded-full border border-gray-400 p-2 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") do %>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-2 w-2 text-gray-200">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                                    </svg>
                                <% end %>
                            <% else %>
                                  <button class="rounded-full border border-gray-400 p-2 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" type="button" data-action="click->fields#removeField" data-field-id="<%= Time.now.to_i %>">
                                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-2 w-2 text-gray-200">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                                      </svg>
                                  </button>
                            <% end %>
                        </td>
                    </tr>
                  <% end %>
                </tbody>
            </table>

            <div class="pb-3">            
                <%= link_to list_value_campaign_campaign_fields_path(@campaign), data: { turbo_stream: true }, class: "btn btn-small btn-primary mr-2" do %>
                    <div class="flex justify-middle">
                        <svg class="h-4 w-4 text-white mr-2" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                        </svg>
                        <p class="text-xs">Add a field</p>
                    </div>
                <% end %> 
            </div>
          </div>

          <div data-form-toggle-target="fieldGroup hideable" data-field-group="range" data-show-for="number date" class="<% unless form.object.value_acceptance == 'range' %>hidden<% end %>">
            <%= form.label :range_values, 'Range', class: "-mt-3 mb-3 text-sm font-semibold leading-6 text-white" %>
            <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <div class="mt-2">
                  <div class="flex rounded-md bg-white/5 ring-1 ring-inset ring-white/10 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                    <%= form.number_field :min_value, data: { form_toggle_target: "fields" }, class: "flex-1 border-0 bg-transparent py-1.5 pl-3 text-white focus:ring-0 sm:text-sm sm:leading-6", placeholder: "Min" %>
                  </div>
                </div>
              </div>

              <div class="sm:col-span-3">
                <div class="mt-2">
                  <div class="flex rounded-md bg-white/5 ring-1 ring-inset ring-white/10 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                    <%= form.number_field :max_value, data: { form_toggle_target: "fields" }, class: "flex-1 border-0 bg-transparent py-1.5 pl-3 text-white focus:ring-0 sm:text-sm sm:leading-6", placeholder: "Max" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        

         <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <%= form.label :default_value, class: "block text-sm font-medium leading-6 text-white" %>
              <div class="mt-2">
                <%= form.text_field :default_value, class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <% if form.object.persisted? %>
      <%= form.submit "Update field", class: "rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" %>
    <% else %>
      <%= form.submit "Create field", class: "rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" %>
    <% end %>
  </div>
<% end %>


