<!DOCTYPE html>
<html class="h-full antialiased" lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= viewport_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

    <%# Be sure to add your own custom favicons %>
    <%= render "shared/favicons" %>
    <%= render "shared/payments_dependencies" %>

    <%# Replace this with your FontAwesome Pro Kit code %>
    <script defer src="https://kit.fontawesome.com/0e5ab6a736.js" crossorigin="anonymous"></script>

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <%= yield :head %>
  </head>

  <body class="bg-gray-600" data-controller="toggle" >
      <%= turbo_frame_tag "modal" %>
      
      <div class="fixed h-full inset-0 bg-circuit-pattern w-full opacity-4 -z-50" ></div>
      <%= render partial: "shared/sidebar" %>

      <div class='<%= "lg:pl-64" if user_signed_in? %> h-screen flex flex-col'>
        <%= render partial: "shared/header" %>
        <%= render partial: "shared/flash" %>


        <!-- Main content -->

        <main class="p/'-4 lg:p-8 mb-auto">
          <div class="mx-auto max-w-8xl ">
            <!-- Your content -->
            <%= yield %>
          </div>
        </main>
        
                
          
         <%= render partial: "shared/footer" unless turbo_native_app? %>
      </div>
      
   

    <ninja-keys data-controller="command-palette" hideBreadcrumbs></ninja-keys>
  </body>
</html>
