<!DOCTYPE html>
<html class="<%= class_names("h-full antialiased", "dark": current_user&.dark_theme?) %>" lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= viewport_meta_tag %>
    <% if current_user&.system_theme? %><script>document.documentElement.classList.toggle("dark", window.matchMedia('(prefers-color-scheme: dark)').matches)</script><% end %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/slim-select@latest/dist/slimselect.css", "data-turbo-track": "reload" %>
    <%# Be sure to add your own custom favicons %>
    <%= render "favicons" %>
    <%= render "payments_dependencies" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <%= yield :head %>
  </head>
  <body class="h-full font-sans antialiased font-normal leading-normal bg-gray-50 dark:bg-slate-900 dark:text-gray-50" data-controller="theme" data-theme-preference-value="<%= current_user&.theme %>">
    <%= turbo_frame_tag "modal" %>
    
    <div class="main flex flex-col">
      <header>
        <%= render "impersonation_banner" %>
        <%= render "flash" %>
        <%= render "navbar" %>
      </header>
      <main class="h-full py-10">
        <div class="hidden dark:block absolute inset-0 -z-10 mx-0 max-w-none overflow-hidden">
          <div class="absolute left-1/2 top-0 ml-[-38rem] h-[25rem] w-[81.25rem] dark:[mask-image:linear-gradient(white,transparent)]">
            <div class="absolute inset-0 bg-gradient-to-r from-[#36b49f] to-[#DBFF75] opacity-40 [mask-image:radial-gradient(farthest-side_at_top,white,transparent)] dark:from-[#36b49f]/30 dark:to-[#DBFF75]/30 dark:opacity-100">
              <svg aria-hidden="true" class="absolute inset-x-0 inset-y-[-50%] h-[200%] w-full skew-y-[-18deg] fill-black/40 stroke-black/50 mix-blend-overlay dark:fill-white/2.5 dark:stroke-white/5">
                <defs>
                  <pattern id=":S1:" width="72" height="56" patternUnits="userSpaceOnUse" x="-12" y="4"><path d="M.5 56V.5H72" fill="none"></path>
                  </pattern>
                </defs>
                <rect width="100%" height="100%" stroke-width="0" fill="url(#:S1:)"></#rect>
                <svg x="-12" y="4" class="overflow-visible">
                  <rect stroke-width="0" width="73" height="57" x="288" y="168"></rect>
                  <rect stroke-width="0" width="73" height="57" x="144" y="56"></rect>
                  <rect stroke-width="0" width="73" height="57" x="504" y="168"></rect>
                  <rect stroke-width="0" width="73" height="57" x="720" y="336"></rect>
                </svg>
              </svg>
            </div>
          </div>        
        </div>

        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
          <%= yield %>
        </div>
      </main>
    </div>
    <%= render partial: "footer" unless turbo_native_app? %>
    <ninja-keys data-controller="command-palette" hideBreadcrumbs></ninja-keys>
  </body>
</html>
